*
!.gitignore
!Makefile
!Assignment.pdf
!Coding Assignment 2.odt
!Coding Assignment 2.pdf

!obj
!obj/placeholder

!src
!src/main.cpp
!src/test.cpp
!src/stack.h
!src/queue.h
!src/linkedList.h

!src/include/placeholder

!example
!example/W4-Linked_Lists_Class-Generic_Coding.cpp


